
@import'./variable.scss';

form{
    width: 30%;
    height: 1000x;
    margin: $margin;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background:$col;
}

* {box-sizing: $box-sizing}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: $text-color;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: $text-color;
  outline: none;
}

hr {
  border: 1px solid $text-color;
  margin-bottom: 25px;
}
button {
  background-color: $font-size;
  color: $text-color;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  color: $color;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: $color;
}


.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;

}

a{
    color: $color ;
    text-decoration: none;;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}